:root {
  --dark: #026aa7;
  --divider-gray: rgba(5, 5, 5, 0.06);
  --modal-background-color: #f4f5f7;
  --modal-color: #172b4d;
  --modal-button-neutral: #091e420a;
  --modal-button-neutral-hover: #a6a6a6;
  --graye9: #e9e9e9;
  --gray9f: #9f9f9f;
  --gray66: #666666;
  --grayd4: #d4d4d4;
  --grayd5: #d5d5d5;
  --gray9: #999999;
  --link-background: #f5f6f8;
  --black: #333333;
  --blue: #0083ff;
  --black23: #232323;
}

.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}
