:root {
    --dark: #026aa7;
    --divider-gray: rgba(5, 5, 5, 0.06);
    --modal-background-color: #f4f5f7;
    --modal-color: #172b4d;
    --modal-button-neutral: #091e420a;
    --modal-button-neutral-hover: #a6a6a6;
}
